/* Styles go here */



.div_table {
    display: table;
}

.div_table_row {
    display: table-row;
}

.table_cell {
    display: table-cell;
    border: 1px solid #000000;
    padding: 5px 5px;
}

.tagValue {
    border: 1px solid #808080;
    background-color: #D645E9;
    padding: 1px 1px;
}

.add-tag {
    border: 1px solid #808080;
    background-color: #4CAF50;
    padding: 1px 1px;
}


#container {border: 1px solid brown;}
H1 {float: left;}
.button{
    background-color:#55A;
    border: 1px solid #229;
    width: 100px;
    float: right;
    font-size: 2em;
    color: white;
    text-align: center;
}
#receiptList {
    border: 1px solid green;
    clear: both;
}
.receipt {
    background-color: #eee;
    margin-bottom: 5px;
}
.add-tag{
  background-color: orange;
}
#error_div{
  display: none;
}